p {
   font-family:sans-serif;
       color: #0000FF;
}
#awesomeText {font-family: 'Times New Roman', Georgia, Serif;}
.soft {color:#a8a8a8;}
.center {text-align: center;}
.container {margin:0 auto;}

html.w-mod-touch * {
    background-attachment: scroll !important;
}
#background {
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;

}